* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #0f1115;
  color: #ffffff;
  line-height: 1.6;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 1rem 2rem;
  background-color: rgba(15, 17, 21, 0.8);
  backdrop-filter: blur(10px);
  z-index: 1000;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: auto;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.nav-links a {
  color: #ffffff;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #00ffaa
}

#hero {
  /* border: solid white; */
  height: 100vh;
  display: flex;
  /* flex-direction: column; */
  justify-content: flex-start;
  align-items: center;
  text-align: left;
  color: white;
  background-color: rgba(15, 17, 21, 0.8);
}

#hero h1 {
  /* border: solid white; */
  font-size: 100px;
  margin-left: 100px;
  color: #00ffaa
}

#hero p {
  /* border: solid white; */
  font-size: 1.5rem;
  margin-top: 1rem;
  margin-left: 102px;
}

#about{
  margin-top: 180px;
}

.section {
  padding: 100px 20px;
  min-height: 80vh;
  max-width: 900px;
  margin: 0 auto;
  opacity: 0;
  transform: translateY(40px);
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.section.visible {
  opacity: 1;
  transform: translateY(0);
}

h2 {
  font-size: 60px;
  color: #00ffaa;
  margin-bottom: 1rem;
}

p{
  color: white; 
  font-size: 1.5rem;
}

footer {
  text-align: center;
  padding: 2rem;
  font-size: 0.9rem;
  background-color: rgba(15, 17, 21, 0.8);
  border-top: 1px solid #222;
  color: #ccc;
}



/* SKILLS */

.skills-container {
  display: flex;
  gap: 2rem;
  align-items: flex-start;
  align-items: stretch;
  height: 100%; 
}

.skills-text {
  /* border: solid; */
  flex: 1;
  padding-right: 100px;
}

.skills-logos {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  position: relative;
  justify-content: center;
  padding-right: 80px; 
  margin-left: 20px; 
  max-width: fit-content; 
}

.skill-item {
  display: flex;
  align-items: center;
  gap: 0.7rem;
}

.skill-item img {
  width: 40px;
  height: auto;
}

.skill-item span {
  font-size: 1.1rem;
  color: white;
  font-weight: 500;
}

/* Skills kraj */


/* Neon blue vertical line */
.neon-line {
  position: absolute;
  top: 0;
  right: 0;
  width: 4px;
  height: 100%;
  background: #00ffaa;
  box-shadow: 0 0 8px #00ffaa, 0 0 12px #00ffaa;
  border-radius: 10px;
}

/* Projects  */

.projects-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  margin-top: 2rem;
}

.project-card {
  background-color: #1b1d23;
  /* max-width: 320px; */
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 204, 255, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.3s ease;
  aspect-ratio: 1 / 1; 
}

.project-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 20px rgba(0, 255, 170, 0.7); 
}

.project-card img {
  width: 100%;
  height: 60%;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 1rem;
}

.project-card h3 {
  color: #00ffaa;
  margin-bottom: 0.5rem;
  text-align: center;
}

.project-card p {
  color: white;
  font-size: 1rem;
  margin-bottom: 1rem;
  text-align: center;
}

.project-card a {
  color: #00ffaa;
  text-decoration: none;
  font-weight: 600;
}

.project-card a:hover {
  text-decoration: underline;
}



@media (max-width: 900px) {
  .projects-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .projects-grid {
    grid-template-columns: 1fr;
  }
}

/* Projects kraj */



/* animacijata vo pozadina kaj hero delot */
.blob {
  position: absolute;
  border-radius: 50%;
  filter: blur(100px);
  opacity: 0.7;
  z-index: 0;
  mix-blend-mode: screen; 
}

.blob1 {
  width: 400px;
  height: 400px;
  background: radial-gradient(circle at center, #00ccff, transparent 70%);
  top: 10%;
  right: 5%;
  animation: blob1Anim 20s ease-in-out infinite alternate;
}

.blob2 {
  width: 400px;
  height: 400px;
  background: radial-gradient(circle at center, #00ffaa, transparent 70%);
  bottom: 10%;
  right: 15%;
  animation: blob2Anim 25s ease-in-out infinite alternate;
}

@keyframes blob1Anim {
  0% { transform: translate(0, 0) scale(1); }
  50% { transform: translate(30px, -30px) scale(1.2); }
  100% { transform: translate(-20px, 20px) scale(1); }
}

@keyframes blob2Anim {
  0% { transform: translate(0, 0) scale(1); }
  50% { transform: translate(-40px, 40px) scale(1.3); }
  100% { transform: translate(20px, -20px) scale(1); }
}
/* kraj na animacijata */



/* contact form */
#contact {
  padding: 100px 20px;
  max-width: 900px;
  margin: 0 auto;
  min-height: 60vh;
  position: relative;
  margin-bottom: 180px;
}

#contact h2 {
  font-size: 60px;
  color: #00ffaa;
  margin-bottom: 3rem;
  text-align: left;
}

#contact p{
  margin-bottom: 1rem;
  text-align: center;
}

.contact-form {
  margin: 0 auto;     
  max-width: 500px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  min-height: 300px;    
  justify-content: center;
}

.contact-form input,
.contact-form textarea {
  padding: 1rem;
  border: 2px solid #00ffaa;
  background: #0f1115;
  color: white;
  border-radius: 8px;
  font-size: 1rem;
  resize: vertical;
  margin: 8px;
}

.contact-form input:focus,
.contact-form textarea:focus {
  outline: none;
  box-shadow: 0 0 10px #00ffaa;
}

.contact-form button {
  padding: 1rem;
  border: none;
  background: #00ffaa;
  color: #0f1115;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s;
}

.contact-form button:hover {
  background: #2a8668;
}
/* contact form end */



/* centriranje pri koristenje navbar */
html {
  scroll-padding-top: 120px; 
}


